<?xml version="1.0"?>
  <appSettings>
    <add key="RouteDebugger:Enabled" value="true" />
    <add key="ScriptCompress" value="unminify"/>
    <!--unminify-->
    <!--SMTP Config check login-->
    <add  key="Email_From" value="fredlu122@sina.com"/>
    <add  key="Email_Host" value="smtp.sina.com"/>
    <add  key="Email_Subject" value="所需操作：请确认您的邮箱地址"/>
    <add  key="Email_UserName" value="fredlu122@sina.com"/>
    <add  key="Email_Password" value="sina12021"/>
    <add  key="Email_Expires" value="30"/>
    <add  key="Email_Body" value="&lt;a href=&quot;http://localhost/VidaHouse_Official_Web/Member/Verify?t={0}&amp;email={1}&quot;&gt;确认&lt;/a&gt;"/>
    <add  key="ApplicationPath" value="http://cms.vidahouse.com"/>

    <!--API Url-->
    <add key="ApiUrl" value="https://api.vidahouse.com/"/>
    <add key="VidaHouseApplication" value="http://cms.vidahouse.com/Content/media/videos/text.rar"/>
  </appSettings>
